
@import "src/variables.scss";

.main-container{
  padding-top: $spacing-6xl;

  mat-grid-list {
    background: turquoise;

    mat-grid-tile {
      background: $white;
      border-radius: 50%;
    }
  }
}

